@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/card1.css");
@import url("components/card2.css");

* {
  font-family: 'Antic Slab', serif;
  box-sizing: border-box!important;
  max-width: 100vw;
  overflow-x: hidden;
}

html, body {
  background-color: black;
  color: white;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 25px;
}

img {
  width: 20vw;
  border-radius:50%;
  margin-left: 400px;
}
audio {
  padding-top: 40px;
}



h1 {
    margin-bottom: 20px;
    color: red;
    font-size: 40px;
    font-weight: bolder;
}

h2 {
    color: red;
    font-size: 40px;
    font-weight: bold;
}

h3 {
    color: white;
    font-weight: bolder;
    font-size: 20px;
    font-weight: bold;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    padding: 25px;
    background-color: black;
    text-align: center;
    width: 100vw;
    margin: 0;
}

nav ul {
    margin: auto;
    padding: 0;
    list-style: none;
    background-color: black;
    width: 90vw;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 1px;
}

nav a {
  text-decoration: none;
}

p {
  width: 80vw;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 3px 3px;
  transition: color 0.3s ease;
}

a:hover {
  color: red;
}

.In-Brief {
background-color: black;
width: 1750px;
margin: 0 auto;
margin-bottom: 50px;
border-radius: 4%;
}

.Advantages {
background-color: black;
width: 1750px;
margin: 0 auto;
margin-bottom: 50px;
border-radius: 4%;
}

.Functioning {
background-color: black;
width: 1750px;
margin: 0 auto;
margin-bottom: 50px;
border-radius: 4%;
}

.Team {
background-color: black;
width: 1750px;
margin: 0 auto;
margin-bottom: 50px;
border-radius: 4%;
}

.Contact ul {
padding-top: 75px;
padding-bottom: 75px;
}

.Contact li {
background-color: black;
width: 1750px;
margin: 0 auto;
margin-bottom: 50px;
border-radius: 4%;
font-size: 16px;
}

.Contact a {
font-size: 25px;
}

.Credit {
font-weight: bold;
}

@media (max-width: 1080px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 720px) {
  .container {
    width: 50%;
  }
}
@media (max-width: 360px) {
  .container {
    width: 25%;
  }
}
