.button {
  background-color: #da0000;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 20px;
  transition: color 0.3s ease;
  border-radius: 5px;
}
